* {
    
}

h1 {
    text-align: center;
    background-color: beige;
}

body {
    background-image: linear-gradient(to right ,#A1C4FD , #C2E9FB);
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.mgafoods {
/* background-color: black; */
width: 100%;
height: 500px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 5px;



}

.adobo,.sinigang,.butteredhipon {
    margin: 0px;
    text-align: center;
}
    

img {
    width: 350px;
    height: 300px;
    border-style: groove;
}

.links {
    font-size: 30px;
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

.description {
    font-size: 20px;
    
}

/* <!--adobo css --!> */

.ing {
    padding-right: 20px;
} 

